@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

header a{
  color: black;
}

header a:hover{
  color: #08BDBA;
}

header h1{
  font-size: 15px;
}

nav > div{
  display: flex;
  justify-content: center;
  padding-top: 0;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav h1{
  margin-right: 15rem;
}

nav li{
  display: inline;
  margin-left: 3rem;
  margin-bottom:0;
}

ul div{
  display:inline;
}

#barra-header{
  border-bottom: 3px solid #08BDBA;
  padding-bottom: 1px
 }

main{
  background-color: #f1f1f1;
}

main h1{
  padding-top: 1.9rem;
  font-size: 30px;
  text-align: center;
}

#nome{
  color: #08BDBA;
}

#div-main{
  padding-top: 3rem;
  width: 1100px;
  margin: auto;
  padding-bottom: 2rem;
}

#div-main > h2{
  text-align: center;
  margin-bottom: 1.5rem;
}

#div-main div{
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
}

main img{
  border-radius: 1rem;
  margin-bottom: 3rem;
  transition: 0.7s;
}

main img:hover{
transform: scale(1.04, 1.04);
transition: 0.7s;
}

main #barra{
  height: 3px;
  background-color: #08BDBA;
  width: 125px;
  display: flex;
  margin: auto;
}

footer{
  background-color:#dedede;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

footer img{
  width: 1.7rem;
  margin-right: 0.8rem;
  transition: 0.5s;
}

footer img:hover{
  transform: scale(1.08,1.08);
  transition: 0.5s;
}
